* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: linear-gradient(to top, #fc5c7d, #6a82fb);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  height: 100vh;

  .header {
    h1 {
      font-size: 70px;
    }
  }

  .new-room-form {
    display: flex;
    /* border: 2px solid black;
    border-radius: 7px;
    padding: 10px; */
    width: 50%;
    justify-content: center;
    margin-bottom: 20px;

    .input-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 500px;
      margin-right: 30px;

      label {
        font-size: 20px;
      }

      input {
        height: 30px;
        font-size: 25px;
        border-radius: 7px;
        border: 0;
      }
    }

    button {
      height: 70px;
      width: 170px;
      margin-top: auto;
      margin-bottom: auto;
      font-size: 30px;
      border-radius: 35px;
      border: 0;
    }
  }

  .room-container {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 70%;
    height: 700px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    h1 {
      text-align: center;
      margin-bottom: 10px;
    }

    .room {
      border: 2px solid black;
      border-radius: 5px;
      margin: 1px;
      height: 70px;
      flex-shrink: 0;
    }
  }
}
